
  header {
    height: 80px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
    opacity: .99;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  main {
    padding-top: 100px; /* To give space for the fixed navigation bar */
  }
  
  /* Additional styling for links and hover effects */
  nav a {
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #555;
  }
  