body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 200px;
    height:200px
  }
  
  .bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 10px;
    background-color: rgb(164, 233, 233);
  }
  
  .centered {
    position: absolute;
    top: 0;
    background-color: aquamarine;
    margin: 10px;
  }
  